.header-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-two {
  display: flex;
  padding-left: 5%;
}
.travel {
  color: #ff5400;
}
.header-li {
  display: flex;
  list-style-type: none;
  margin-right: 90px;
  gap: 40px;
}
/* header long images  */
.header-image {
  padding: 5% 10%;
}
.header-images-one {
  position: absolute;
  font-size: 64px;
  color: #fff;
  left: 27%;
  top: 130px;
}
.form-of-header {
  position: absolute;
  left: 25%;
  top: 65%;
  display: inline-flex;
  padding: 16px;
  gap: 24px;
}
.form-of-one {
}
