.header-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-two {
  display: flex;
  padding-left: 5%;
}
.travel {
  color: #ff5400;
}
.header-li {
  display: flex;
  list-style-type: none;
  margin-right: 90px;
  gap: 40px;
}
/* header long images  */
.header-image {
  padding: 5% 10%;
}
.header-images-one {
  position: absolute;
  font-size: 64px;
  color: #fff;
  left: 27%;
  top: 130px;
}
.header-page {
  position: absolute;
  top: 45%;
  left: 17px;
  padding: 0 30%;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.form-of-header {
  position: absolute;
  left: 25%;
  top: 65%;
  text-decoration: none;
  display: inline-flex;
  padding: 16px;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.form-of-one {
  text-align: center;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
}
.btn-form {
  padding: 10px 26px;
  border-radius: 8px;
  background-color: #ff5400;
  color: #fff;
}
/* fast section classes  */
.section-one {
  padding-left: 5%;
}

.section-class-two {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.section-one-ul {
}
.section-ul-li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 10px;
  width: 525px;
}
.section-image {
  position: relative;
  padding-left: 50%;
  padding-top: 40px;
}
/* section number two start form here  */
.section-two-title {
  text-align: center;
  font-size: 40px;
}
.section-rows {
  text-align: center;
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px;
}
